.cursor {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
.cursor::after {
  content: url('/images/pagination.svg');
  height: 0px;
  margin-top: -15px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
@keyframes cursorAnim {
  0% {
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
  50% {
    transform: scale(5);
    transform: translate(-50%, -50%);
  }
  100% {
    transform: scale(1);
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}
.expand {
  animation: cursorAnim 0.5s forwards;
}
