.modal {
  padding: 48px;
  text-align: center;

  @include mobile {
    padding: 32px 24px;
  }
  &_layouts {
    display: flex;
    padding: 24px;
    gap: 20px;
    padding-right: 48px;

    @include tablet {
      flex-direction: column-reverse;
      gap: 10px;
      padding: 12px;
    }
  }

  &__views {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .button {
      width: 94px;
      text-align: center;

      @include mobile {
        width: 69px;
        padding: 8px;
      }

      &.active {
        background-color: $black;
        color: $white;
        border-color: $black;
      }
    }

    @include mobile {
      flex-direction: row;
      align-items: center;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px;
    @include transition;

    @include mobile {
      align-self: flex-end;
    }

    &:hover {
      scale: 1.1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 50vw;
  }

  h3 {
    color: $black;
    font-size: 30px;
    text-transform: uppercase;
    @include HeliosBold;
    margin-bottom: 24px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__message {
    display: block;
    @include HeliosRegular;
    font-size: 24px;
    color: $black;
    margin-bottom: 24px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__button {
    width: 100%;
  }
}
