.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  &_active {
    display: block;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    z-index: 101;
    max-width: 529px;
    padding: 12px 12px 48px 12px;
    height: fit-content;
    align-items: center;
    text-align: center;

    @include mobile {
      margin: auto 15px;
      padding: 12px 12px 32px 12px;
    }

    h3 {
      color: $black;
      font-size: 30px;
      text-transform: uppercase;
      @include HeliosBold;
      margin-bottom: 24px;

      @include mobile {
        font-size: 16px;
      }
    }

    .button {
      justify-self: center;
    }
  }

  &__message {
    @include HeliosRegular;
    font-size: 24px;
    color: $black;
    margin-bottom: 24px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__close {
    justify-self: end;
    cursor: pointer;
  }
}
