* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
  scroll-behavior: smooth;
}

html,
body {
  @include InterRegular;
  font-size: 16px;
  color: $white;
  height: 100%;
  touch-action: pan-x pan-y;

  @include mobile {
    font-size: 14px;
  }
}

h1 {
  @include HeliosBold;
  font-size: 42px;
  text-transform: uppercase;

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 20px;
  }
}

h2 {
  @include HeliosRegular;
  font-size: 72px;
  text-transform: uppercase;

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 24px;
  }
}

h3 {
  @include HeliosRegular;
  font-size: 36px;

  @include tablet {
    font-size: 24px;
  }

  @include mobile {
    font-size: 16px;
  }
}

h5 {
  @include HeliosBold;
  font-size: 24px;

  @include mobile {
    font-size: 16px;
  }
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin-left: 70px;
  margin-right: 70px;

  @include tablet {
    margin-left: 30px;
    margin-right: 30px;
  }

  @include mobile {
    margin-left: 15px;
    margin-right: 15px;
  }

  &_narrow {
    @include min_tablet {
      margin-right: 138px;
    }
  }
}

.swiper-button-next::after {
  content: url('/images/next.svg') !important;

  @include mobile {
    content: url('/images/next_small.svg') !important;
  }
}

.swiper-button-prev::after {
  content: url('/images/prev.svg') !important;

  @include mobile {
    content: url('/images/prev_small.svg') !important;
  }
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
  z-index: 6;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
  z-index: 6;
}
