* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
  scroll-behavior: smooth;
}

html,
body {
  @include InterRegular;
  font-size: 16px;
  color: $white;
  height: 100%;
  touch-action: pan-x pan-y;
}

h1 {
  @include HeliosBold;
  font-size: 41px;
  text-transform: uppercase;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin-left: 70px;
  margin-right: 70px;
}

.swiper-button-next::after {
  content: url(../assets/images/next.svg) !important;
}

.swiper-button-prev::after {
  content: url(../assets/images/prev.svg) !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 350px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 170px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 84px !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: auto !important;
  top: 300px !important;
  width: 360px !important;
  right: 70px !important;
  height: 1px !important;
  background-color: $gray40 !important;

  &::before {
    content: '.';
    font-size: 42px;
    position: absolute;
    left: -5px;
    line-height: 0px;
    top: -11.7px;
  }

  &::after {
    content: '.';
    font-size: 42px;
    position: absolute;
    right: -5px;
    line-height: 0px;
    top: -11.7px;
  }
}

.swiper-scrollbar-drag {
  background-color: $white !important;
}
