@mixin transition {
  transition: all $transitionDuration ease;
}

@mixin zoom-move {
  animation: zoom-move 40s linear infinite;

  @keyframes zoom-move {
    0% {
      transform: scale(1) translateX(0) translateY(0);
    }
    50% {
      transform: scale(1.2) translateX(2%) translateY(2%);
    }
    to {
      transform: scale(1) translateX(0) translateY(0);
    }
  }
}
