$transitionDuration: .4s;

$black: #131312;
$gray90: #212529;
$gray80: #333333;
$gray70: #4D4D4D;
$gray60: #666666;
$gray50: #808080;
$gray40: #999999;
$gray30: #B3B3B3;
$gray20: #CCCCCC;
$gray10: #E5E5E5;
$gray4: #F5F5F5;
$white: #FFFFFF;
$orange: #F05A22;
$brown: #542A2D;
