.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'name phone'
    'privacy submit';
  gap: 24px;
  width: 50%;

  @include desktop {
    width: 100%;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      'name'
      'phone'
      'privacy'
      'submit';
    gap: 8px;
  }

  &__name {
    grid-area: name;
  }

  &__phone {
    grid-area: phone;
  }

  &__privacy {
    grid-area: privacy;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;

    @include mobile {
      margin-top: 4px;
    }

    .link {
      color: $gray40;
    }
  }

  &__submit {
    grid-area: submit;

    @include mobile {
      margin-top: 16px;
    }
  }

  &__success {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;

    &_active {
      display: block;
    }
  }

  &__success-container {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    z-index: 101;
    max-width: 529px;
    padding: 12px 12px 48px 12px;
    height: fit-content;
    align-items: center;
    text-align: center;
    gap: 24px;

    h3 {
      color: $black;
      font-size: 30px;
      text-transform: uppercase;
      @include HeliosBold;
    }

    p {
      @include HeliosRegular;
      font-size: 24px;
      color: $black;
    }

    .button {
      justify-self: center;
    }
  }

  &__success-close {
    justify-self: end;
    cursor: pointer;
  }
}
