.location {
  touch-action: none;
  background-color: $gray90;
  h1 {
    max-width: 584px;
    position: absolute;
    top: 200px;
    left: 70px;

    @include tablet {
      left: 30px;
      max-width: 400px;
    }

    @include mobile {
      max-width: 300px;
      left: 15px;
    }
  }

  p {
    align-self: flex-end;
    @include HeliosRegular;
    text-align: right;
    max-width: 487px;
    font-size: 24px;
    position: absolute;
    bottom: 100px;
    right: 142px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @include tablet {
      right: 30px;
      bottom: 50px;
      font-size: 20px;
    }

    @include mobile {
      max-width: 290px;
      bottom: 24px;
      right: 15px;
      font-size: 16px;
      -webkit-line-clamp: 4;
    }
  }

  &__wrapper {
    @include tablet_small {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: auto;
    }
  }

  &__map {
    @include tablet_small {
      position: relative;
      display: flex;
      height: 100%;
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  &__background {
    overflow: hidden;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include tablet_small {
      display: none;
    }
  }

  &__background-mobile {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    touch-action: pan-x;

    @include min_tablet_small {
      display: none;
    }
  }

  &__base {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 72px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 36.5%;
    top: 36%;

    @include tablet_small {
      width: 36px;
      height: 50px;
      top: 47%;
      scroll-margin: calc(100vw / 2);
    }
  }

  &__point {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 56px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    @include transition;

    &:hover {
      scale: 1.1;
    }

    @include tablet_small {
      width: 24px;
      height: 34px;

      &#Парк-50-летия {
        top: 43% !important;
      }

      &#Яй {
      }

      &#Центральный {
        left: 7% !important;
        top: 64% !important;
      }

      &#Мир {
        left: 83% !important;
        top: 24% !important;
      }

      &#Уфа-Арена {
        left: 5% !important;
        top: 46% !important;
      }

      &#Парк-Якутова {
        left: 2% !important;
        top: 21% !important;
      }

      &#Ласточка {
        left: 15% !important;
        top: 52% !important;
      }

      &#Солнечный-круг {
        left: 26% !important;
        top: 55% !important;
      }

      &#№1 {
        left: 58% !important;
        top: 82% !important;
      }

      &#ТинькоффХолл {
        top: 56% !important;
      }
    }
  }
}
