.page {
  width: 100vw;
  height: 100vh;

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

    &_zoom {
      @include zoom-move;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute !important;
  }
}
