.project {
  touch-action: none;
  position: relative;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;

    h1 {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include mobile {
        gap: 0;
      }

      span {
        @include HeliosRegular;
        font-size: 72px;

        @include tablet {
          font-size: 32px;
        }

        @include mobile {
          font-size: 24px;
        }

        &:nth-child(1) {
          align-self: center;
          @include mobile {
            align-self: flex-start;
          }
        }
        &:nth-child(2) {
          align-self: flex-end;
          text-align: right;
          @include mobile {
            text-align: left;
          }
        }
      }
    }
  }
}
