.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 960px;
  background-color: $gray90;
  height: 100vh;
  display: none;
  z-index: 1;

  @include mobile {
    width: 100%;
  }

  &_active {
    display: block;
  }

  &__close {
    cursor: pointer;
  }

  &__wrapper {
    min-height: 100%;
    padding: 34px 70px 70px 70px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    position: relative;

    @include mobile {
      padding: 22px 15px 90px 15px;
      gap: 24px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mobile {
      margin-top: 16px;
      gap: 12px;
    }

    a {
      @include HeliosBold;
      font-size: 30px;
      text-transform: uppercase;

      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__callback {
    position: absolute;
    right: 70px;
    top: 98px;

    @include tablet {
      position: unset;
    }
  }

  &__office {
    margin: auto 0 0 12px;
    max-width: 80%;
    display: flex;
    flex-direction: column;

    span {
      text-transform: uppercase;

      &:nth-child(1) {
        margin-bottom: 12px;
      }

      &:nth-child(2) {
        font-weight: 500;
        margin-bottom: 4px;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }

      &:nth-child(3) {
        font-size: 14px;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  &__phone {
    @include HeliosBold;
    font-size: 42px;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 26px;
    }
  }

  &__socials {
    position: absolute;
    right: 70px;
    bottom: 70px;
    display: flex;
    flex-direction: column;

    @include tablet {
      position: unset;
      flex-direction: row;
    }

    @include mobile {
      justify-content: space-between;
    }
  }
}
